@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Title";
    src: url("../src/fonts/JB-Callout.ttf") format("truetype"); }

    @font-face {
        font-family: "Heading";
        src: url("../src/fonts/JB-Heading.ttf") format("truetype"); }